<mat-card class="about" id="#about">
    <span> <h1> About Us </h1></span>
    
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis exercitationem qui perspiciatis a nihil odit expedita quaerat neque nostrum nulla. Repellat ex nobis impedit! Suscipit a fuga velit. Consequatur, voluptatum?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis exercitationem qui perspiciatis a nihil odit expedita quaerat neque nostrum nulla. Repellat ex nobis impedit! Suscipit a fuga velit. Consequatur, voluptatum?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis exercitationem qui perspiciatis a nihil odit expedita quaerat neque nostrum nulla. Repellat ex nobis impedit! Suscipit a fuga velit. Consequatur, voluptatum?
    </p>

</mat-card>