<mat-card class="gallery">
    <span> <h1> Gallery </h1></span>
    <span> <h4> Checkout Some of our work </h4></span>
    <br>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water"
            style="opacity: 0.7;"
            />

            <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape"
            style="opacity: 0.7;"
            />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Mountains in the Clouds"
            style="opacity: 0.7;"
            />

            <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water"
            style="opacity: 0.7;"
            />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Waves at Sea"
            style="opacity: 0.7;"
            />

            <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Yosemite National Park"
            style="opacity: 0.7;"
            />
        </div>
    </div>
    <!-- Gallery -->
</mat-card>