<mat-card class="gallery">
    <span><h1> Gallery </h1></span>
    <h4  style="color: white;">Check out some of our work</h4>
                    
    <div style="margin-top: 20px; row">
    <!-- first row -->
        
        <img src="./img/gal1.jpg'" class="col-md-4" alt="rajni">
        <img src="./img/gal4.jpg'" class="col-md-4" alt="rajni">
        <img src="./img/image5.jpg'" class="col-md-4" alt="rajni">
        <img src="./img/gallery2.jpg'" class="col-md-4" alt="rajni">
        <img src="./img/gallery3.jpg'" class="col-md-4" alt="rajni">
        <img src="./img/image2.jpg'" class="col-md-4" alt="rajni">
                    
    </div>
    <br>
    
</mat-card>