.gallery{
background-color:  rgba(0, 0, 0, 0.1);
color: white;
}

h1{
text-align: center;
color: gold;
font-size: bolder;
font-family: 'joker', sans-serif;

}
h4{
    text-align: center;
    font-weight: ;
    font-family: monospace;
}
