.intro{
    background-image: url(https://images.unsplash.com/photo-1507643179773-3e975d7ac515?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z2FsbGVyeXxlbnwwfHwwfHw%3D&w=1000&q=80);
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}