<mat-toolbar class="navigation" style=" position: fixed; top: 0px; "  color="primary">
        
    
  <mat-toolbar-row class="links" style=" display: inline-block; right:0px;">
    <span class="example-spacer"></span>
    <!-- adding Social Media links -->
    <ul style="list-style: none;">
      <li ><a href="#" > Home </a></li>
      <li ><a href="#" > About </a></li>
      <li ><a href="#" > Gallary </a></li>
      <li ><a href="#" > Contact_Us </a></li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
  


