.navigation{
    background-color: rgba(232, 232, 232, 0.1);
    height: 100px;
}
li {
    float: left;
    width: 100px;
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
    margin: 0;
}
a{
    color: gold;
    opacity: 0.8;
    font-weight: bolder;
    text-decoration: none;
    font-size: 15px;
}